<footer class="container-fluid">
    <div class="row footer">

      <div class="col-12 col-lg-4">
        <article>
          <i class="fas fa-credit-card"></i>
          <h4>Pagá con tarjeta o efectivo</h4>
          <p>Nuestros clientes tienen cuotas sin interes pagando con tarjetas o en efectivo, y siempre es seguro.</p>
        </article>
      </div>

      <div class="col-12 col-lg-4">
        <article>
          <i class="fas fa-gift"></i>
          <h4>Envio gratis desde $1.999</h4>
          <p>Nuestros clientes tienen cuotas sin interes pagando con tarjetas o en efectivo, y siempre es seguro.</p>
        </article>
      </div>


      <div class="col-12 col-lg-4">
        <article>
          <i class="fas fa-user-shield"></i>
          <h4>Seguridad de principio a fin</h4>
          <p>Nuestros clientes tienen cuotas sin interes pagando con tarjetas o en efectivo, y siempre es seguro.</p>
        </article>
      </div>

      <div class="col-12 copy">
        Saludos coordiales.

      </div>


    </div>
</footer>

  <!--scrip boopstrp-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>  