<header>
  <!--caja pincipal-->
  <div class="container">
    
    <!--caja row-->
    <div class="row">

      <H1>Salon unisex</H1>

    </div>

   <!--barra de navegación-->
    <nav class="navbar-expand-md">
      <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i>
      </button>

     <!--caja contenedora de menú-->
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--lista-->
        <ul class="navbar-nav mr-auto">
           <li><a href=""> ¿Quienes somos? </a></li>
           <li><a href=""> Nuestras sucursales </a></li>
           <li><a href=""> Productos en venta </a></li>
           <li><a href=""> Mas información </a></li>
        </ul>

        <!--otra lista-->
        <ul class='navbar-nav'>
           <li><a href="">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
           <li><a href="">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
           <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
        </ul>

      </div>

    </nav>
  </div>


 <!--seccion banner-->
  <div class="banner col-12">
    <section>
     <img src="./images/imagenb.jpg" alt="" width="100%">
    </section>
  </div>

  <div class="container">
    
    <!--caja row-->
    <div class="row">

      <!--cajas contenedoras de tamaños-->
      <div class="logo col-4 col-md-2">
        <a href=""><img src="./images/logoo.jpg" alt="" width="90%"></a>
      </div>

      <div class="col-8 col-md-5">
        <form action="">
          <input type="text" placeholder="buscar">
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>

      </div>

      <div class="col-12 col-md-5 cuotas">
        <a href="" class="cuotas"><i class="fas fa-hand-holding-usd"> Comprá en cuotas y sin tarjeta de crédito</i></a>
      </div>

    </div>
</header>