/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/

/*VARIABLES*/
:ROOT{
  --color-rojo: rgb(240, 6, 6);
  --color-rojoClaro: rgb(238, 106, 106);
  --color-grisClaro: rgb(236, 232, 232);
  --color-grisOscuro: rgb(99, 95, 95);
  --color-azul: rgb(52, 52, 221);
}


/*general*/
*{
  box-sizing: border-box;
  margin:0;
}

body{
  font-family: roboto;
  font-weight: 300;
  background-color: var(--color-grisClaro);
}

a{
  text-decoration: none;
  color:black;
}
a:hover{
  text-decoration: none;
  color: white;
}

li{
  margin-right: 20px;
}

/*cabecera*/
header{
  background-color: var(--color-grisClaro);
  padding: 20px 0;
}

header form{
  background-color: white;
  border: 1px solid var(--color-grisClaro);
  border-radius: 5px;
  padding: 0 8px;

}
header form input{
  border:0;
  border-right: 2px solid var(--color-grisClaro);
  padding: 5px;
  width: 85%;

}
header form input:focus{
  outline: none;
}
header form button{
  background:0;
  border:0;
  padding: 0;
  color: var(--color-grisOscuro);
  padding-left: 5px;
}

header .cuotas{
  text-align: center;
  padding: 20px 0;

}
header nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header nav .burger{
  background-color: var(--color-rojo);
  color: azure;
}
/*estilos barra de navegacion*/



/*Banner*/

/*.banner img{
  display: none;

}*/


.titulo{
  text-align: center;
}
.titulo h2{
  font-size: 24px;
  color: var(--color-grisOscuro);
  margin: 30px 0;;
}

.contenido{
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.contenido img{
  width: 95%;
  
}
.contenido article{
  text-align: left;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--color-grisOscuro);
  position: relative;
}
.contenido article span{
  color: var(--color-grisOscuro);
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.contenido article i{
  color: var(--color-rojoClaro);
  background-color: white;
  border: 1px solid var(--color-rojoClaro) ;
  border-radius: 50% ;
  padding: 10px;
  position: absolute;
  top: -20px;
  right: 20px;
}

/*footer*/
.footer{
  padding: 20px;

}

.footer article{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer article i{
  font-size: 35px;
  color: var(--color-rojoClaro);
  margin: 10px 0;
}
.footer h4, .footer p{
  color: var(--color-grisOscuro);
  margin: 20px 0;

}
.footer .copy{
  border-top: 1px solid var(--color-rojoClaro);
  border-bottom:  1px solid var(--color-rojoClaro);
  padding: 20px 0;
  text-align: center;
  color: var(--color-grisOscuro);
}
@media(min-whidt:768px){
  header .logo{
    padding: 0;
  }

  header .cuotas{
    text-align: right;
    padding: 0;
  }

  header form input{
    width: 90%;
  
  }

  header nav{
    margin-top: 20px;
  }

  

  header li :last-child{
    margin-right: 0;
  }

  /*Banner*/
  .banner section img{
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

  .contenido article{
    padding-top: 20px;
  }

  header .row{
    margin-right: 0;

  }
   


}
